@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    padding: 0 35px;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #343f4f;
}

.wrapper {
    max-width: 1200px;
    position: relative;
}

.wrapper i{
    height: 45px;
    width: 45px;
    top: 50%;
    background-color: #fff;
    line-height: 46px;
    text-align: center;
    font-size: 1.2rem;
    cursor: pointer;
    border-radius: 90px;
    position: absolute;
    transform: translateY(-50%);
}

.wrapper i:first-child{
    left: -23px;
}

.wrapper i:last-child{
    right: -23px;
}

.wrapper .carousel{
    font-size: 0px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    scroll-behavior: smooth;
}

.carousel.dragging{
    cursor: grab;
    scroll-behavior: auto;
}

.carousel.dragging img{
    pointer-events: none;
}

.carousel img{
    height: 340px;
    object-fit: cover;
    margin-left: 14px;
    width: calc(100% / 3);
}

.carousel img:first-child{
    margin-left: 0px;
}

@media screen and (max-width: 900px) {
    .carousel img{
        width: calc(100% / 2);
    }
}

@media screen and (max-width: 550px) {
    .carousel img{
        width: 100%;
    }
}